.App {
  text-align: center;
  background-color: dimgrey;
  margin: 120px ;
  text-decoration: underline;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-box {
  margin: 20px;
  height: 20px;
  width: 200px;
  border-radius: 15px;
  padding: 0px, 0px, 0px, 14px;
  background: #FFFFFF;
  border: 0.5px solid #C8CCDD;
}
